<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <title>Spam Classification</title>
  </head>
  <body>
    <div class="container">
    
      <div class="display-4 text-center">Email Classification</div>
      <% if(output==0){%> 
      <div class="alert alert-primary">Not a Spam Message</div>
      <% }else if(output==1){ %> 
      <div class="alert alert-danger">Alert! Spam Message</div>
      <% } %> 
      <form method="POST" action="/">
        <div class="form-group">
          <input
            class="form-control"
            name="email"
            placeholder="Enter your Email Message"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </form>
    </div>
  </body>
</html>
